<ion-header>
  <ion-toolbar>
    <ion-title>Shopping List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="myForm" (ngSubmit)="click()" class="ion-padding">
    <ion-item>
      <ion-label>Ingredient:</ion-label>
      <ion-input
        formControlName="ingredient"
        name="ingredient"
        label="ingredient"
        placeholder="Milk"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Quantity:</ion-label>
      <ion-input
        formControlName="quantity"
        name="quantity"
        label="quantity"
        placeholder="1"
      ></ion-input>
    </ion-item>
    <app-button></app-button>
  </form>

  <app-tabs></app-tabs>
</ion-content>
