<ion-header>
  <ion-toolbar>
    <ion-title>Shopping List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="myForm" (ngSubmit)="onClick()" class="ion-padding">
    <ion-item>
      <ion-label>Ingredient: </ion-label>
      <ion-input
        formControlName="ingredient"
        name="ingredient"
        label="ingredient"
        placeholder="Milk"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Quantity: </ion-label>
      <ion-input
        formControlName="quantity"
        name="quantity"
        label="quantity"
        placeholder="1"
        type="number"
      ></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block"> Add Item </ion-button>
  </form>
</ion-content>
