<ion-header>
  <ion-toolbar>
    <ion-title>Recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Recipes!</h1>
  <!-- <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/tabs']" tab="ingredients">
        <ion-icon name="list-circle-outline"></ion-icon>
        Ingredients
      </ion-tab-button>
      <ion-tab-button tab="recipes">
        <ion-icon name="book-outline"></ion-icon>
        Recipes
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->
</ion-content>
