.container {
  background-color: grey !important;
  width: 80%;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  height: 60px;
  margin: 5px auto;
}

.container__text {
  font-size: 22px;
  margin-top: 5px;
  margin-left: 15px;
  width: 60%;
}

span {
  font-size: 20px;
}

.container__icon {
  flex-grow: 1;
  align-self: center;
  font-size: 40px;
  margin-right: auto;
}
